
<section class="page-section spad contact-page">
    <div class="container">
        <h1>zona de administracion</h1>

        <ul>
            <li>
                @Html.ActionLink("juegos", "Juegos")
            </li>
            <li>
                @Html.ActionLink("Categorias", "Categorias")
            </li>
            <li>
                @Html.ActionLink("Cambiar Roles", "Usuarios")
            </li>


        </ul>
</div>
</section>
