@using RedSocialMinijuegosCore.Models
@model List<Categoria>


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Categorias</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
        @foreach (Categoria j in Model)
        {

             <a href="@Url.Action("games", "Juegos", new { id = j.IdCategoria })">@j.Nombre</a>

        }

</div>
</li>